.swiper {
  width: 100%;
  height: 450px;
}

.swiper-slide {
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 147px;
  padding-bottom: 130px !important  ;
}

.swiper-pagination{
    gap:12px;
    display: flex;
    align-items:center
}

.swiper-pagination-bullet{
    width: 12px !important; 
    height: 12px !important;
    background: white !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: 48px !important;
    height: 48px !important;
    background: #95BEF3 !important;
    border: 12px solid white !important;
}